.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/reaction-dom.js
fixtures/dom/public/reaction.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

packages/reaction-devtools-core/dist
packages/reaction-devtools-extensions/chrome/build
packages/reaction-devtools-extensions/chrome/*.crx
packages/reaction-devtools-extensions/chrome/*.pem
packages/reaction-devtools-extensions/firefox/build
packages/reaction-devtools-extensions/firefox/*.xpi
packages/reaction-devtools-extensions/firefox/*.pem
packages/reaction-devtools-extensions/shared/build
packages/reaction-devtools-extensions/.tempUserDataDir
packages/reaction-devtools-fusebox/dist
packages/reaction-devtools-inline/dist
packages/reaction-devtools-shell/dist
packages/reaction-devtools-timeline/dist
